body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(223, 250, 255);
}
.grid {
  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}
.cell {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  background-color: #ffffff71;
  font-size: 18px;
}
.candy-1 {
  background-color: red;
}
.candy-2 {
  background-color: yellow;
}
.candy-3 {
  background-color: green;
}
.candy-4 {
  background-color: blue;
}
.candy-eliminate {
  opacity: 0.5;
}
